a {
    cursor: pointer;
}

header {
    background-image: url('../img/header-bg.jpg');
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #333333;
    opacity: 0.5;
    z-index:2;
}

header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
    position: relative;
    z-index:3;
}

header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
    color: #fff;
    text-shadow: 2px 2px #333333;
}

footer {
    background-color: #202020;
    padding: 1em 0;
    margin-top: 30px;
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

footer p {
    clear: left;
    margin-bottom: 0;
}

table tr td:last-child {
    white-space: nowrap;
    width: 1%;
}

table tr td:last-child {
    text-align: right;
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
    header .intro-text .intro-heading {
        font-size: 48px;
    }
}